<%- include('../Includes/header.ejs') %>
<link rel="stylesheet" href="/CSS/userProducts.css">
</head>

<body>
    <%- include('../Includes/navbar.ejs') %>
    <main>
      <section class="viewProduct">
        <div class="container py-5">
          <h2 class="text-center mb-4 text-dark">All Products</h2>
          <%if(data.length > 0){%>
           <div class="row"> 
            <%for(let obj of data){%>
              <div class="col-lg-3 col-md-4 mb-4">
                <div class="card text-center">
                  <img src="../../Images/userAllProdCardBg.webp" class="card-img-top" alt="Product Image">
                  <div class="card-body">
                    <h4 class="card-title"><%=obj.product_Name %></h4>
                    <a href="/user/singleprod/<%=obj._id%>" class="btn btn-primary">View More Details</a>
                  </div>
                </div>
              </div>
            <%}%>
          <%}else{%>
            <p>Data Not Found</p>
            <%}%>
          </div>
        </div>
      </section>
    </main>






<%- include('../includes/footer.ejs') %>